#header {
          background-color:#0099cc;
          color:white;
          text-align:center;
          padding:5px;
        }
#nav        {
         line-height:30px;
         height:462px;
		 width:200px;
		 float:left;
		 padding:5px;
		 text-align:center;
        }	
#section {
          	width:900px;
			float:left;
			padding:5px;
			text-align:center;
			height:450px;
			background-color:#eeeeee;
			

        }	
		    
#footer {		
         background-color:#0099cc; 
		 color:white;
		 clear:both;
		 text-align:center;
		 padding:5px;
        }
		ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #0099cc;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

	

.button {
    background-color: #0099cc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
	width: 173px;
}
#get_prescription {
width:auto;
display: inline-block;
background:#FFFFFF;
border:#000000 solid 1px;
padding:10px;

}
